*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.header{
    font-size: 50px;
    display: flex;
    justify-content: center;

} 

.container{ 
    border: 5px solid white ;
    border-radius: 12px;
    height: 50%;
    width: 50%;
    margin: 10px;

}

.top-section{
    display: flex;
    justify-content: space-evenly;
}
.btnSorting, .btnAdd {
    padding: 20px;
    /* width: 20px; */
    height: 50% ;
    border: 2px solid white;
    text-align: center;


}

/* .btnAdd{
    padding: 20px;
    width: 50%;
    height: 50% ;
    border: 2px solid white;

} */

input{
    padding: 20px;
    width: 70%;
    height: 0% ;
    border: 2px solid white;
} 

ul{
    padding: 10px;
    margin-left: 10px;
}